In [ ]:
def hello():
    print("hello")
    print("glad to see you")
hello()
print("we are going to agra")
hello()

In [3]:
def hello():
   print("Hello")
   print("Glad to meet you")

hello()
print("It works")
hello()
hello()

Hello
Glad to meet you
It works
Hello
Glad to meet you
Hello
Glad to meet you

In [35]:
verbs = ["kayak", "cry", "walk", "eat", "drink", "fly"]
ing=[]
for i in verbs:
    i += 'ing'
    ing.append(i)
print(ing)

[]

In [7]:
def hello(s,):
    print("hello ,I am ",s)
    print("Welcome")
hello('kajal')   
hello("Singh")

hello ,I am  kajal
Welcome
hello ,I am  Singh
Welcome

In [12]:
def hello(n,s):
    getting = "hello{}".format(n)
    print(getting*s)
hello(" kitty " ,4)
hello("",1)
hello(" wei ", 2)

hello kitty hello kitty hello kitty hello kitty
hello
hello wei hello wei

In [15]:
def hello2(s):
    print("Hello "+s)
    print("Glad to meet you")

hello2("Iman" + " and Jackie")
hello2("Class " * 3)

Hello Iman and Jackie
Glad to meet you
Hello Class Class Class
Glad to meet you

In [7]:
def hello(x):
    result = x*x
    return result
y = 9
resulting  = hello(y)
print("The square of {} is the function is {}".format(y,resulting))

The square of 9 is the function is 81

In [9]:
def hello():
    print("hello")
    return 5
    print("hyyyyyyy")
    return 10
x = hello()
print(x)

hello
5

In [10]:
def longer_than_five(list_of_names):
    for name in list_of_names: # iterate over the list to look at each name
        if len(name) > 5: # as soon as you see a name longer than 5 letters,
            return True # then return True!
            # If Python executes that return statement, the function is over and the rest of the code will not run -- you already have your answer!
    return False # You will only get to this line if you
    # iterated over the whole list and did not get a name where
    # the if expression evaluated to True, so at this point, it's correct to return False!

# Here are a couple sample calls to the function with different lists of names. Try running this code in Codelens a few times and make sure you understand exactly what is happening.

list1 = ["Sam","Tera","Sal","Amita"]
list2 = ["Rey","Ayo","Lauren","Natalie"]

print(longer_than_five(list1))
print(longer_than_five(list2))

False
True

In [11]:
def square(x):
    y = x * x
    return y

print(square(5) + square(5))

50

8. Write a function named same that takes a string as input, and simply returns that string.

In [2]:
def same(x):
    return x
same("hello")

'hello'

11. Write a function called change that takes one number as its input and returns that number, plus 7.

In [ ]:
def change(x):
    return x+7
change(1)

10. Write a function called subtract_three that takes an integer or any number as input, and returns that number minus three.

In [ ]:
def subtract_three(x):
    return x - 3 
subtract_three(5)

In [ ]:
def mylen(seq):
    c = 0 # initialize count variable to 0
    for _ in seq:
        c = c + 1   # increment the counter for each item in seq
    return c

print(mylen("hello"))
print(mylen([1, 2, 7]))

1. Write a function named total that takes a list of integers as input, and returns the total value of all those integers added together.

In [5]:
def total(tot):
    num = 0
    for i in tot:
        num = num + i
    return num
result = total([2,3,4])
print(result)

9

2. Write a function called count that takes a list of numbers as input and returns a count of the number of elements in the list.

In [3]:
def count(x):
    assum = 0
    for i in x:
        assum = assum + 1
    return assum  
result = count([1,2,3,4,56,7])
print(result)

6

In [6]:
def accum(x):
        return x+x
accum(10)

20

Write a function, accum, that takes a list of integers as input and returns the sum of those integers.

In [ ]:
def accum(lst):
    assum = 0
    for i in lst:
        assum = assum + i
    return assum
result = [1,2,3,4,5,6,7,8,9]
accum(result)

In [20]:
def square(x):
    y = x ** x
    return y
   
def sum_of_square(x,y,z):
    a = square(x)
    b = square(y)
    c = square(z)
    return x+y+z
a=2
b= 3
c = 4
result = sum_of_square(a,b,c)
print(result)

9

In [22]:
def square(x):
    y = x * x
    return y

def sum_of_squares(x,y,z):
    a = square(x)
    b = square(y)
    c = square(z)

    return a+b+c

a = -5
b = 2
c = 10
result = sum_of_squares(a,b,c)
print(result)

129

In [23]:
def most_common_letter(s):
    frequencies = count_freqs(s)
    return best_key(frequencies)

def count_freqs(st):
    d = {}
    for c in st:
        if c not in d:
             d[c] = 0
        d[c] = d[c] + 1
    return d

def best_key(dictionary):
    ks = dictionary.keys()
    best_key_so_far = list(ks)[0]  # Have to turn ks into a real list before using [] to select an item
    for k in ks:
        if dictionary[k] > dictionary[best_key_so_far]:
            best_key_so_far = k
    return best_key_so_far

print(most_common_letter("abbbbbbbbbbbccccddddd"))

b

 Write two functions, one called addit and one called mult. addit takes one number as an input and adds 5. mult takes one number as an input, and multiplies that input by whatever is returned by addit, and then returns the result.

In [1]:

def addit(x):
    y = x + 5
    return y
def mult(x):
    a = addit(x)
    return a*x
z = 3
result = addit(z)
print(result)

8

In [27]:
def pow(b, p):
    y = b ** p
    return y

def square(x):
    a = pow(x, 2)
    return a

n = 5
result = square(n)
print(result)

25

In [28]:
def square(x):
    return x*x

def g(y):
    return y + 3

def h(y):
    return square(y) + 3

print(h(2))

7

In [30]:
def square(x):
    return x*x

def g(y):
    return y + 3

def h(y):
    return square(y) + 3

print(g(h(2)))

10

In [35]:
def double(y):
    y = 2 * y

def changeit(lst):
    lst[0] = "Michigan"
    lst[1] = "Wolverines"

y = 5
double(y)
print(y)

mylst = ['our', 'students', 'are', 'awesome']
changeit(mylst)
print(mylst)

None

In [37]:
def double(n):
    n = 2 * n
def changeit(lst):
    lst[0] = "Michigan"
    lst[1] = "Wolverines"
y = 5
double(y)
print(y)

mylst = ['106', 'students', 'are', 'awesome']
changeit(mylst)
print(mylst)

5
['Michigan', 'Wolverines', 'are', 'awesome']

In [38]:
def double(n):
   global y
   y = 2 * n

y = 5
double(y)
print(y)

10

In [39]:
def double(n):
  return 2 * n

y = 5
y = double(y)
print(y)

10

In [40]:
def changeit(lst):
   lst[0] = "Michigan"
   lst[1] = "Wolverines"
   return lst

mylst = ['106', 'students', 'are', 'awesome']
newlst = changeit(list(mylst))
print(mylst)
print(newlst)

['106', 'students', 'are', 'awesome']
['Michigan', 'Wolverines', 'are', 'awesome']

Write a function called change that takes any string, adds “Nice to meet you!” to the end of the argument given, and returns that new string.

In [ ]:
def change(v):
    return v+'Nice to meet you!'

v=input("Enter the string: ")
change(v)

Write a function, length, that takes in a list as the input. If the length of the list is greater than or equal to 5, return “Longer than 5”. If the length is less than 5, return “Less than 5”.

In [ ]:
def length(lst):
    if len(lst)>=5:
        return "Longer than 5"
    else:
        return "Less than 5"
lst = [1,2,3,5,6]
ls1 = [1,2,3]
print(length(lst))
print(length(ls1))

You will need to write two functions for this problem. The first function, divide that takes in any number and returns that same number divided by 2. The second function called sum should take any number, divide it by 2, and add 6. It should return this new number. You should call the divide function within the sum function. Do not worry about decimals.

In [ ]:
def  divide(x):
    return x/2
def sum(x):
    return x/2 + 6
y = 10
sum(divide(y))

In [44]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta,Georgia")
# or equivalently
julia = "Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia"
print(julia[6])

Atlanta, Georgia

In [ ]:
#Create a tuple called practice that has four elements: ‘y’, ‘h’, ‘z’, and ‘x’.

practice = ('y','h','z','x')
print(practice)

#3. Create a tuple named tup1 that has three elements: ‘a’, ‘b’, and ‘c’.

tup1 = ("a","b","c")
print(tup1)

4. Provided is a list of tuples. Create another list called t_check that contains the third element of every tuple.

In [ ]:

lst_tups = [('Articuno', 'Moltres', 'Zaptos'), ('Beedrill', 'Metapod', 'Charizard', 'Venasaur', 'Squirtle'), ('Oddish', 'Poliwag', 'Diglett', 'Bellsprout'), ('Ponyta', "Farfetch'd", "Tauros", 'Dragonite'), ('Hoothoot', 'Chikorita', 'Lanturn', 'Flaaffy', 'Unown', 'Teddiursa', 'Phanpy'), ('Loudred', 'Volbeat', 'Wailord', 'Seviper', 'Sealeo')]
t_check = []
for i in lst_tups:
    t_check.append(i[2])

5. Below, we have provided a list of tuples. Write a for loop that saves the second element of each tuple into a list called seconds.

In [ ]:

tups = [('a', 'b', 'c'), (8, 7, 6, 5), ('blue', 'green', 'yellow', 'orange', 'red'), (5.6, 9.99, 2.5, 8.2), ('squirrel', 'chipmunk')]
seconds = []
for i in tups:
    seconds.append(i[1])

In [ ]:
authors = [('Paul', 'Resnick'), ('Brad', 'Miller'), ('Lauren', 'Murphy')]
for first_name, last_name in authors:
    print("first name:", first_name, "last name:", last_name)

In [ ]:
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for n in range(len(fruits)):
    print(n, fruits[n])

In [ ]:
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for item in enumerate(fruits):
    print(item[0], item[1])

With only one line of code, assign the variables water, fire, electric, and grass to the values “Squirtle”, “Charmander”, “Pikachu”, and “Bulbasaur”

In [46]:
water , fire , electric , grass = "Squirtle" , "Charmander","Pikachu","Bulbasaur"

With only one line of code, assign four variables, v1, v2, v3, and v4, to the following four values: 1, 2, 3, 4.

In [ ]:
v1 ,v2 ,v3 ,v4 = 1,2,3,4

The .items() method produces a sequence of key-value pair tuples. With this in mind, write code to create a list of keys from the dictionary track_medal_counts and assign the list to the variable name track_events. Do NOT use the .keys() method.

If you remember, the .items() dictionary method produces a sequence of tuples. Keeping this in mind, we have provided you a dictionary called pokemon. For every key value pair, append the key to the list p_names, and append the value to the list p_number. Do not use the .keys() or .values() methods.

In [45]:

pokemon = {'Rattata': 19, 'Machop': 66, 'Seel': 86, 'Volbeat': 86, 'Solrock': 126}
number = {}
for first , second in pokemon:
    print(number.append(first))
    print(number.append(second))

ValueError: too many values to unpack (expected 2)

In [ ]:
def add(x, y):
    return x + y

print(add(3, 4))
z = (5, 4)
print(add(z)) # this line causes an error

In [1]:
def add(x, y):
    return x + y

print(add(3, 4))
z = (5, 4)
print(add(*z)) # this line will cause the values to be unpacked

7
9

With only one line of code, assign the variables city, country, and year to the values of the tuple olymp.

In [ ]:

olymp = ('Rio', 'Brazil', 2016)
city,country,year = olymp

Define a function called info with five parameters: name, gender, age, bday_month, and hometown. The function should then return a tuple with all five parameters in that order.

In [ ]:
def info (name,gender,age,bday_month,hometown):
    f =  (name,gender,age,bday_month,hometown)
    return f
info("kajal singh","female",19,4,"Bihar")

Given is the dictionary, gold, which shows the country and the number of gold medals they have earned so far in the 2016 Olympics. Create a list, num_medals, that contains only the number of medals for each country. You must use the .items() method. Note: The .items() method provides a list of tuples. Do not use .keys() method.

In [ ]:

gold = {'USA':31, 'Great Britain':19, 'China':19, 'Germany':13, 'Russia':12, 'Japan':10, 'France':8, 'Italy':8}
num_medals = []
for i in gold.items():
    num_medals.append(i[1])